.about-us {
  height: 899px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .about-us {
    width: 100%;
    height: 940px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    height: 646px;
    flex-wrap: wrap;
    width: 1150px;
    margin: 0 auto;
  }

  .about-us::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 21px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 27px 100%;
    background-size: auto 21px;
    top: -7px;
  }
}
