.about-us {
  height: 899px;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .about-us {
    height: 939px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    height: 645px;
    flex-wrap: wrap;
  }
}
