.about-us {
  height: 899px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 324px;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 6px;
  top: 1px;
  left: -30px;
}

@media (min-width: @tablet-width) {
  .about-us {
    height: 939px;
    margin-bottom: -11px;
  }

  .about-us::before {
    content: "";
    position: absolute;
    width: 772px;
    height: 17px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px 17px;
    top: -4px;
    left: -25px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    height: 645px;
    flex-wrap: wrap;
  }
}
