.addon-container {
  height: 180px;
  display: flex;
  flex-direction: column;
}

.addon-container__legend {
  padding-top: 10px;
}

.addon-container__input {
  margin-top: 25px;
  border: 2px solid @dark-font;
  padding-top: 15px;
  padding-left: 14px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .addon-container {
    height: 194px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .addon-container {
    height: 194px;
    flex-direction: row;
  }
}
