.catalog-item {
  min-height: 376px;
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid @border-gray;
  /*
  &:hover {
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }*/
}

.catalog-item:hover .catalog-item__order {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item:active .catalog-item__order {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item__photo {
  height: 195px;
}

.catalog-item__order {
  height: 179px;
  display: flex;
  flex-direction: column;
}

.catalog-item__info {
  height: 105px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-item__price-block {
  height: 73px;
  position: relative;
  margin-left: 28px;
  margin-right: 28px;
  border-top: 1px solid @border-gray;
}

.catalog-item__cart {
  margin-left: 90px;
  margin-top: auto;
}

.catalog-item__cart-icon {
  fill: #d3d2d2;
}

.catalog-item__cart:hover .catalog-item__cart-icon,
.catalog-item__cart:focus .catalog-item__cart-icon {
  fill: #63d1bb;
}

.catalog-item__cart:active {
  opacity: 0.3;
}

.catalog-item__price {
  .font-param(15px, 24px, "Open Sans Bold", @dark-font);
  display: inline-block;
  height: 100%;
  vertical-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.catalog-item__title {
  margin: 0;
  padding: 0;
  .font-param(17px, 24px, "Open Sans Bold", @dark-font);
  margin-bottom: 5px;
}

.catalog-item__description {
  .font-param(13px, 30px, "Open Sans", @lighter-font);
  margin: 0;
  padding: 0;
}

.catalog-item:last-child {
  min-height: 399px;
  margin-bottom: 30px;
}

.catalog-item:last-child .catalog-item__info {
  margin-bottom: 104px;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    min-height: 334px;
    margin-top: 0;
    margin-bottom: 52px;
    flex-direction: row;
  }

  .catalog-item:first-child {
    margin-top: 80px;
  }

  .catalog-item__photo {
    padding: 0;
    margin: 0;
    width: 334px;
  }

  .catalog-item__photo img {
    height: 334px;
    width: 334px;
  }

  .catalog-item__order {
    height: 334px;
    flex-grow: 2;
    width: 334px;
  }

  .catalog-item__info {
    height: 263px;
    margin: 0;
    padding-top: 23px;
    padding-left: 26px;
  }

  .catalog-item__title {
    .font-param(20px, 24px, "Open Sans Bold", @dark-font);
    padding-left: 2px;
    padding-right: 70px;
  }

  .catalog-item__description {
    .font-param(15px, 30px, "Open Sans", @lighter-font);
  }

  .catalog-item__price {
    .font-param(17px, 24px, "Open Sans Bold", @dark-font);
    padding-left: 3px;
    text-align: center;
  }

  .catalog-item__cart {
    margin-left: 160px;
  }

  .catalog-item:last-child {
    min-height: 334px;
    margin-bottom: 50px;
  }

  .catalog-item:last-child .catalog-item__info {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    min-height: 659px;
    margin-right: 56px;
    flex-direction: column;
  }

  .catalog-item:last-child {
    margin-right: 0;
  }

  .catalog-item:first-child {
    margin-top: 0;
  }

  .catalog-item__photo {
    height: 464px;
    width: 310px;

    & img {
      height: 464px;
      width: 310px;
    }
  }

  .catalog-item__order {
    height: 169px;
    width: 310px;
  }

  .catalog-item__info {
    height: 124px;
    padding-left: 24px;
    padding-top: 23px;
  }

  .catalog-item__title {
    padding-left: 0;
    padding-right: 50px;
  }

  .catalog-item__price-block {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
  }

  .catalog-item__price {
    padding-top: 22px;
    padding-left: 0;
  }

  .catalog-item__cart {
    margin: auto 0;
  }
}
