.catalog-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.catalog-main__title {
  width: 260px;
  margin: 0 auto;
  padding-top: 71px;
  padding-right: 10px;
  padding-bottom: 78px;
  padding-left: 10px;

  .font-param(27px, 30px, "Open Sans Bold", @dark-font);
}

.catalog-main__header {
  position: relative;

  width: 100%;
  margin: 0 auto;
}

.catalog-main__goods {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .catalog-main__goods {
    position: relative;

    flex-direction: column;
  }

  .catalog-main__header {
    margin: 0;
    margin-top: -70px;
    padding: 0;
  }

  /*
  .catalog-main__header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x;
    background-size: 100% 16px;
    top: 212px;
    z-index: 10;
  }*/

  .catalog-main__title {
    width: 668px;
    /*padding-left: 195px;*/
    padding: 0;
    padding-top: 93px;

    text-align: center;

    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
  }

  .catalog-main::before {
    content: "";
    position: absolute;
    top: 302px;
    z-index: 10;

    width: 100%;
    height: 20px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-size: 768px 25px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__goods {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 129px;
  }

  .catalog-main__title {
    width: 1050px;
    /*padding-left: 344px;*/
    padding: 0;
    padding-top: 97px;

    text-align: center;

    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
  }

  .catalog-main__header {
    margin-top: -46px;
  }

  .catalog-main::before {
    content: "";
    position: absolute;
    top: 322px;
    z-index: 100;

    width: 100%;
    height: 36px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-size: 1150px 36px;
  }
}
