.catalog-item {
  min-height: 374px;
  outline: 2px solid blue;
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-item__photo {
  height: 195px;
}

.catalog-item__order {
  height: 178px;
  display: flex;
  flex-direction: column;
}

.catalog-item__info {
  height: 105px;
}

.catalog-item__price-block {
  height: 73px;
}

.catalog-item__title {
  .font-param(17px, 24px, "Open Sans Bold", @dark-font);
}

.catalog-item__description {
  .font-param(13px, 30px, "Open Sans", @lighter-font);
}

.catalog-item__price {
  .font-param(15px, 24px, "Open Sans Bold", @dark-font);
}

@media (min-width: @tablet-width) {
  .catalog-item {
    min-height: 335px;
    margin-bottom: 55px;
    flex-direction: row;
  }

  .catalog-item__photo {
    height: 335px;
  }

  .catalog-item__order {
    height: 337px;
  }

  .catalog-item__info {
    height: 263px;
  }

  .catalog-item__price-block {
    height: 74px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    min-height: 659px;
    margin-right: 50px;
    flex-direction: column;
  }

  .catalog-item:last-child {
    margin-right: 0;
  }

  .catalog-item__photo {
    height: 462px;
  }

  .catalog-item__order {
    height: 169px;
  }

  .catalog-item__info {
    height: 124px;
  }

  .catalog-item__price-block {
    height: 45px;
  }
}
