.color-container {
  height: 418px;
}

@media (min-width: @tablet-width) {
  .color-container {
    height: 303px;
  }
}

@media (min-width: @desktop-width) {
  .color-container {
    height: 225px;
  }
}
