.contacts {
  .font-param(15px, 30px, "Open Sans", @lighter-font);
  min-height: 314px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.contacts__text-block {
  display: flex;
  flex-direction: column;
}

.contacts__adress-block {
  display: flex;
}

.contacts__email-block {
  display: flex;
  min-height: 45px;
}

.contacts__title {
  .font-param(18px, 30px, "Open Sans Bold", @dark-font);
  padding-top: 44px;
}

.contacts__email-label {
  margin-top: 24px;
  padding-right: 29px;
}

.contacts__email-adress {
  color: @lighter-font;
  border-bottom: 2px solid @mail-font;
  margin-top: 24px;
  margin-bottom: 17px;

  &:hover {
    color: @mail-font;
    border-bottom: 1px soild @mail-font;
  }

  &:active {
    color: @mail-font-30;
    border-bottom: 1px solid @mail-under-light;
  }
}

.contacts__adress-label {
  margin-top: 13px;
  padding-right: 29px;
}

.contacts__adress {
  margin-top: 13px;
  padding-right: 29px;
  padding-left: 1px;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
    padding-top: 71px;
    padding-left: 15px;
  }

  .contacts__email-block {
    .font-param(17px, 30px, "Open Sans", @lighter-font);
    margin-top: 25px;
    margin-left: 20px;
    height: 70px;
  }

  .contacts__email-label {
    padding-right: 22px;
  }

  .contacts__text-block {
    flex-direction: row;
  }

  .contacts__adress-block {
    .font-param(17px, 30px, "Open Sans", @lighter-font);
    margin-left: 54px;
    margin-top: 35px;
  }

  .contacts__adress-label {
    padding-right: 23px;
  }

  .contacts::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 81px;
    top: 55px;
    right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
    padding-top: 153px;
    padding-left: 189px;
  }

  .contacts__text-block {
    flex-direction: column;
    padding-left: 100px;
  }

  .contacts__email-block {
    padding-left: 73px;
  }

  .contacts__adress-block {
    margin: 0;
    padding-left: 95px;
  }

  .contacts::before {
    top: 147px;
    left: 82px;
  }
}
