.contacts {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  min-height: 309px;
  margin: auto;
  padding: 0 30px;

  .font-param(15px, 30px, "Open Sans", @lighter-font);
}

.contacts__text-block {
  display: flex;
  flex-direction: column;
}

.contacts__adress-block {
  display: flex;
}

.contacts__email-block {
  display: flex;
  min-height: 45px;
}

.contacts__title {
  padding-top: 42px;

  .font-param(18px, 30px, "Open Sans Bold", @dark-font);
}

.contacts__email-label {
  margin-top: 24px;
  padding-right: 29px;
}

.contacts__email-adress {
  margin-top: 24px;
  margin-bottom: 17px;

  color: @lighter-font;

  border-bottom: 2px solid @mail-font;

  &:hover {
    color: @mail-font;

    border-bottom: 1px soild @mail-font;
  }

  &:active {
    color: @mail-font-30;

    border-bottom: 1px solid @mail-under-light;
  }
}

.contacts__adress-label {
  margin-top: 13px;
  padding-right: 29px;
}

.contacts__adress {
  margin-top: 13px;
  padding-right: 29px;
  padding-left: 1px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;

  width: 320px;
  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 6px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .contacts__title {
    padding-top: 75px;
    padding-left: 15px;

    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
  }

  .contacts__email-block {
    height: 70px;
    margin-top: 25px;
    margin-left: 20px;

    .font-param(17px, 30px, "Open Sans", @lighter-font);
  }

  .contacts__email-label {
    padding-right: 22px;
  }

  .contacts__text-block {
    flex-direction: row;
  }

  .contacts__adress-block {
    margin-top: 35px;
    margin-left: 54px;

    .font-param(17px, 30px, "Open Sans", @lighter-font);
  }

  .contacts__adress-label {
    padding-right: 23px;
  }

  .contacts::before {
    content: "";
    position: absolute;
    top: -3px;

    width: 100%;
    height: 20px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 20px 100%;
    background-size: 768px 20px;
  }

  .contacts::after {
    content: "";
    position: absolute;
    top: 58px;
    right: 53px;

    width: 47px;
    height: 81px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    padding-top: 153px;
    padding-left: 206px;

    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
  }

  .contacts {
    width: 525px;
    padding: 0;
    margin: 0;
    padding-left: 12px;
  }

  .contacts__text-block {
    flex-direction: column;
    padding-left: 120px;
  }

  .contacts__email-block {
    padding-left: 73px;
  }

  .contacts__adress-block {
    margin: 0;
    padding-left: 95px;
  }

  .contacts__adress {
    padding-right: 0;
  }

  .contacts::after {
    top: 147px;
    left: 111px;
  }

  .contacts::before {
    width: 0;
    height: 0;
  }
}
