.developer {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  margin-top: 12px;
  padding-right: 30px;
  padding-left: 30px;
}

.developer__text {
  margin-left: 37px;

  .font-param(19px, 18px, "Open Sans Bold", @dark-font);
}

.developer__logo {
  margin-top: 9px;
  margin-left: 30px;

  fill: @aquamarine;
}

.developer__logo:hover,
.developer__logo:focus {
  fill: @mail-font;
}

.developer__logo:active {
  fill: rgba(70, 193, 174, 0.3);
}

@media (min-width: @tablet-width) {
  .developer {
    width: 186px;
    margin-top: -13px;
    margin-right: 84px;
    margin-left: 41px;
    padding: 0;
  }

  .developer__logo {
    padding-top: 6px;
  }
}

@media (min-width: @desktop-width) {
  .developer {
    width: 177px;
    margin: 0;
    margin-top: 29px;
    margin-right: 92px;
    margin-left: 225px;
    padding: 0;
  }

  .developer__logo {
    padding-top: 2px;
  }
}
