.features {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 800px;
}

.features__title {
  margin: 0;
  padding-top: 30px;
  padding-left: 28px;

  .font-param (25px, 30px, "Open Sans Bold", @dark-font);
}

.features__list {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;

  .font-param (17px, 20px, "Open Sans Bold", @dark-font);
  .reset-list();
}

.features__list-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
  }

  &:first-child {
    margin-top: 85px;
    padding-right: 65px;

    &::before {
      top: -54px;
      left: 8px;

      width: 32px;
      height: 37px;

      background-image: url("../img/icon-feature-flower.svg");
      background-size: 32px 37px;
    }
  }

  &:nth-child(2) {
    margin-top: 83px;
    padding-right: 60px;

    &::before {
      top: -53px;
      left: 0;

      width: 47px;
      height: 27px;

      background-image: url("../img/icon-feature-money.svg");
      background-size: 47px 27px;
    }
  }

  &:nth-child(3) {
    margin-top: 82px;
    padding-right: 80px;

    &::before {
      top: -47px;
      left: 7px;

      width: 34px;
      height: 27px;

      background-image: url("../img/icon-feature-heart.svg");
      background-size: 34px 27px;
    }
  }

  &:nth-child(4) {
    margin-top: 84px;
    padding-right: 40px;

    &::before {
      top: -51px;
      left: 3px;

      width: 35px;
      height: 34px;

      background-image: url("../img/icon-feature-ball.svg");
      background-size: 35px 34px;
    }
  }

  &:nth-child(5) {
    margin-top: 82px;

    &::before {
      top: -48px;
      left: -5px;

      width: 55px;
      height: 23px;

      background-image: url("../img/icon-feature-rocket.svg");
      background-size: 55px 23px;
    }
  }

  &:nth-child(6) {
    margin-top: 84px;
    padding-right: 40px;

    &::before {
      top: -52px;
      left: 3px;

      width: 33px;
      height: 32px;

      background-image: url("../img/icon-feature-gift.svg");
      background-size: 33px 32px;
    }
  }
}

.features::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 320px;
  height: 6px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 6px;
}

@media (min-width: @tablet-width) {
  .features {
    height: 645px;
  }

  .features__list {
    flex-wrap: wrap;
    height: 500px;

    .font-param (20px, 22px, "Open Sans Bold", @dark-font);
  }

  .features__title {
    padding-top: 64px;
    padding-left: 45px;

    .font-param (43px, 50px, "Open Sans Bold", @dark-font);
  }

  .features::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 20px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 20px 100%;
    background-size: 768px 20px;
  }

  .features__list-item {
    width: 334px;

    &:first-child {
      margin-top: 104px;
      padding-right: 105px;
      padding-left: 20px;

      &::before {
        top: -54px;
        left: 29px;
      }
    }

    &:nth-child(2) {
      margin-top: 111px;
      padding-right: 60px;
      padding-left: 20px;

      &::before {
        top: -52px;
        left: 20px;
      }
    }

    &:nth-child(3) {
      margin-top: 112px;
      padding-right: 80px;
      padding-left: 20px;

      &::before {
        top: -48px;
        left: 27px;
      }
    }

    &:nth-child(4) {
      margin-top: 104px;
      padding-right: 40px;

      &::before {
        top: -52px;
        left: 3px;
      }
    }

    &:nth-child(5) {
      margin-top: 111px;

      &::before {
        top: -50px;
        left: -6px;
      }
    }

    &:nth-child(6) {
      margin-top: 113px;
      padding-right: 40px;

      &::before {
        top: -52px;
        left: 3px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    height: 652px;
  }

  .features__list {
    flex-wrap: wrap;
    margin-right: 202px;
    margin-left: 204px;

    .font-param (20px, 22px, "Open Sans Bold", @dark-font);
  }

  .features__title {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-left: 220px;

    .font-param (53px, 57px, "Open Sans Bold", @dark-font);
  }

  .features::before {
    content: "";
    position: absolute;
    top: -30px;

    width: 100%;
    height: 21px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 27px 100%;
    background-size: auto 21px;
  }
}
