.features {
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.features__title {
  .font-param (25px, 30px, "Open Sans Bold", @dark-font);
  margin: 0;
  padding-top: 31px;
  padding-left: 27px;
}

.features__list {
  .font-param (17px, 20px, "Open Sans Bold", @dark-font);
  .reset-list();
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.features__list-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:first-child {
    margin-top: 85px;
    padding-right: 65px;

    &::before {
      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-size: 32px 37px;
      top: -54px;
      left: 8px;
    }
  }

  &:nth-child(2) {
    margin-top: 84px;
    padding-right: 60px;

    &::before {
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-size: 47px 27px;
      top: -54px;
      left: 0;
    }
  }

  &:nth-child(3) {
    margin-top: 83px;
    padding-right: 80px;

    &::before {
      width: 34px;
      height: 27px;
      background-image: url("../img/icon-feature-heart.svg");
      background-size: 34px 27px;
      top: -49px;
      left: 7px;
    }
  }

  &:nth-child(4) {
    margin-top: 83px;
    padding-right: 40px;

    &::before {
      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-size: 35px 34px;
      top: -52px;
      left: 3px;
    }
  }

  &:nth-child(5) {
    margin-top: 83px;

    &::before {
      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
      background-size: 55px 23px;
      top: -50px;
      left: -5px;
    }
  }

  &:nth-child(6) {
    margin-top: 83px;
    padding-right: 40px;

    &::before {
      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");
      background-size: 33px 32px;
      top: -53px;
      left: 3px;
    }
  }
}

.features::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 6px;
  top: -2px;
  left: -30px;
}

@media (min-width: @tablet-width) {
  .features {
    height: 645px;
  }

  .features__list {
    height: 500px;
    flex-wrap: wrap;
    .font-param (20px, 22px, "Open Sans Bold", @dark-font);
  }

  .features__title {
    .font-param (43px, 50px, "Open Sans Bold", @dark-font);
    padding-top: 60px;
    padding-left: 44px;
  }

  .features::before {
    content: "";
    position: absolute;
    width: 772px;
    height: 17px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 768px 17px;
    top: -4px;
    left: -25px;
  }

  .features__list-item {
    width: 334px;

    &:first-child {
      margin-top: 103px;
      padding-right: 105px;
      padding-left: 21px;

      &::before {
        top: -54px;
        left: 29px;
      }
    }

    &:nth-child(2) {
      margin-top: 110px;
      padding-right: 60px;
      padding-left: 21px;

      &::before {
        top: -52px;
        left: 20px;
      }
    }

    &:nth-child(3) {
      margin-top: 112px;
      padding-right: 80px;
      padding-left: 21px;

      &::before {
        top: -48px;
        left: 27px;
      }
    }

    &:nth-child(4) {
      margin-top: 102px;
      padding-right: 40px;

      &::before {
        top: -52px;
        left: 3px;
      }
    }

    &:nth-child(5) {
      margin-top: 111px;

      &::before {
        top: -50px;
        left: -6px;
      }
    }

    &:nth-child(6) {
      margin-top: 111px;
      padding-right: 40px;

      &::before {
        top: -52px;
        left: 3px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    height: 650px;
  }

  .features__list {
    flex-wrap: wrap;
    .font-param (20px, 22px, "Open Sans Bold", @dark-font);
    margin-left: 204px;
    margin-right: 202px;
  }

  .features__title {
    .font-param (53px, 57px, "Open Sans Bold", @dark-font);
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-left: 220px;
  }

  .features::before {
    content: "";
    position: absolute;
    width: 1150px;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: 1050px 23px;
    top: -30px;
    left: 25px;
  }
}
