.form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/*
.form-main__header {

}
*/
.form-main__description {
  .font-param (13px, 24px, "Open Sans", @lighter-font);
  outline: 2px solid blue;
  margin-left: 30px;
  margin-right: 30px;
}
