.form {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
/*
.form__fieldeset {

}
*/
.form__fieldset-legend {
  margin: 0;
  padding: 0;
  .font-param (17px, 16px, "Open Sans Bold", @aqua-dark);
  text-transform: uppercase;
}

.form__input {
  .font-param (17px, 18px, "Open Sans", @light-gray);
}

.form__label {
  .font-param (17px, 18px, "Open Sans Bold", @dark-font);
}

.form__required {
  .font-param (14px, 16px, "Open Sans", @lighter-font);
}
/*
.form__send {

}
*/

@media (min-width: @tablet-width) {
  .form__label {
    .font-param (19px, 18px, "Open Sans Bold", @dark-font);
  }

  .form__input {
    .font-param (19px, 18px, "Open Sans", @light-gray);
  }

  .form {
    margin: 0;
  }
}
