.form {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  
}
/*
.form__fieldeset {

}
*/
.form__fieldset-legend {
  .font-param (17px, 16px, "Open Sans Bold", @aqua-dark);
}

.form__input {
  .font-param (17px, 18px, "Open Sans", @light-gray);
}

.form__label {
  .font-param (17px, 18px, "Open Sans Bold", @dark-font);
}

.form__required {
  .font-param (14px, 16px, "Open Sans", @lighter-font);
}
/*
.form__send {

}
*/
