.form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-main__title {
  .font-param(27px, 30px, "Open Sans Bold", @dark-font);
  text-align: center;
  padding-top: 52px;
}

@media (min-width: @tablet-width) {
  .form-main {
    margin: 0;
    padding: 0;
    width: 768px;
  }

  .form-main__title {
    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
    padding-top: 63px;
  }

  .form-main__header {
    position: relative;
  }

  .form-main__header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x;
    background-size: 768px 16px;
    top: 215px;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .form-main__title {
    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
  }
}
