.head {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 488px;
  margin: 0 auto;
  padding: 0;

  background-color: @light-back;
}

.head__block {
  min-height: 280px;
  margin: 0 auto;
  padding-top: 24px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.head__title {
  margin: 0;
  padding-top: 45px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;

  .font-param(27px, 30px, "Open Sans Bold", @dark-font);
}

.head__list {
  display: flex;
  flex-direction: column;

  .reset-list();
}

.head__list-link {
  .font-param(19px, 24px, "Open Sans Bold", @white-font);
}

.head__list-item:first-child {
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 23px;
  padding-left: 29px;

  background-color: @aqua-dark;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 87% 50%;
  background-size: 40px 62px;

  &:hover,
  &:active {
    background-color: #59d5bc;
  }
}


.head__list-item:last-child {
  padding-top: 25px;
  padding-right: 160px;
  padding-bottom: 23px;
  padding-left: 29px;

  background-color: @aqua-darkest;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 60px 60px;

  &:hover,
  &:active {
    background-color: #46c1ae;
  }
}

.head__list-item:active .head__list-link {
  opacity: 0.7;
}

@media (min-width: @tablet-width) {
  .head {
    width: 100%;
    min-height: 743px;
    margin: 0 auto;
    margin-top: -45px;
  }

  .head::after {
    content: "";
    position: absolute;
    top: 731px;
    z-index: 10;

    width: 100%;
    height: 20px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-size: 768px 25px;
  }

  .head__list {
    position: relative;

    flex-direction: row;
    justify-content: space-around;
    min-height: 118px;
    margin-top: -56px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .head__list-link {
    display: block;
    width: 331px;
    min-height: 103px;
    margin: 0;
    padding-top: 28px;
    padding-right: 120px;
    padding-left: 34px;

    .font-param(20px, 30px, "Open Sans Bold", @white-font);
  }

  .head__block {
    position: relative;

    min-height: 684px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -1%;
    border-top: 1px solid @border-gray;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .head__title {
    padding-top: 130px;

    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
  }

  .head__list-item {
    width: 334px;
    /*padding-top: 28px;
    padding-left: 34px;
    padding-right: 120px;*/
    min-height: 120px;
    padding: 0;

    &:first-child {
      padding: 0;

      background-position: 87% 50%;
    }

    &:last-child {
      padding: 0;

      background-position: 87% 50%;
    }

    &:hover {
      min-height: 125px;
      margin-top: -10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .head__list {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -53px;
  }

  .head__list-item {
    width: 525px;
    padding-right: 450px;

    &:first-child {
      background-position: 92% 50%;
    }

    &:last-child {
      background-position: 92% 50%;
    }
  }

  .head {
    width: 100%;
    height: 743px;
    margin: 0 auto;
    margin-top: -45px;
  }

  .head__title {
    padding-top: 130px;

    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
  }

  .head__block {
    min-height: 680px;
    padding-top: 24px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .head::after {
    content: "";
    position: absolute;
    top: 727px;
    z-index: 10;

    width: 100%;
    height: 37px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-size: auto 37px;
  }
}
