.map {
  width: 100%;
  height: 460px;
  padding-top: 5px;
}

.map__photo {
  width: 100%;
  height: 100%;

  background-color: @gray-back;
  background-image: url("./img/map-mobile@1x.jpg");
  border: none;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("./img/map-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .map {
    width: 100%;
    height: 457px;
    padding-top: 0;
  }

  .map__photo {
    width: 100%;
    height: 100%;

    background-image: url("./img/map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    position: absolute;
    order: 5;
    width: 50%;
    margin: 0;
    padding: 0;
    top: 90px;
    right: 0;
  }

  .map__photo {
    width: 525px;
    height: 457px;

    background-image: url("./img/map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
