.map {
  background-color: @gray-back;
  min-height: 458px;
  width: 100%;
  padding-top: 5px;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
    height: 457px;
    padding-top: 2px;
  }

  .map__photo img {
    width: 768px;
    height: 457px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    order: 5;
    width: 50%;
  }
}
