.messages {
  min-height: 679px;
  outline: 2px solid yellow;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.messages__who-where {
  display: flex;
  flex-direction: column;
}

.messages__title {
  .font-param(25px, 30px, "Open Sans Bold", @dark-font);
}

.messages__text {
  .font-param(15px, 30px, "Open Sans", @lighter-font);
}

.messages__author {
  .font-param(17px, 24px, "Open Sans Bold", @dark-font);
}

.messages__nickname {
  .font-param(17px, 30px, "Open Sans", @lighter-font);
}

.messages__container {
  position: relative;
}

@media (min-width: @tablet-width) {
  .messages {
    height: 537px;
  }

  .messages__who-where {
    flex-direction: row;
  }

  .messages__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (min-width: @tablet-width) {
  .messages {
    height: 537px;
  }

  .messages__who-where {
    flex-direction: row;
  }

  .messages__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
