.messages {
  min-height: 679px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.messages__who-where {
  display: flex;
  flex-direction: column;
}

.messages__title {
  .font-param(25px, 30px, "Open Sans Bold", @dark-font);
  margin: 0;
  padding-top: 57px;
}

.messages__text {
  .font-param(15px, 30px, "Open Sans", @lighter-font);
  margin: 0;
  padding-top: 24px;
}

.messages__author {
  .font-param(17px, 24px, "Open Sans Bold", @dark-font);
  margin: 0;
  padding-top: 27px;
}

.messages__nickname {
  .font-param(17px, 30px, "Open Sans", @lighter-font);
  margin: 0;
  padding-top: 3px;
}

.messages__button {
  .font-param(18px, 20px, "Open Sans Bold", @lighter-font);
  padding-top: 13px;
  display: block;
  margin-top: 39px;
  width: 259px;
}

@media (min-width: @tablet-width) {
  .messages {
    height: 537px;
  }

  .messages__who-where {
    flex-direction: row;
  }

  .messages__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .messages__title {
    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
  }
}

@media (min-width: @tablet-width) {
  .messages {
    height: 537px;
  }

  .messages__who-where {
    flex-direction: row;
  }

  .messages__button {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .messages__title {
    .font-param(53px, 57x, "Open Sans Bold", @dark-font);
  }
}
