.page-user-menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  .reset-list();
}

.page-user-menu__item {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 31px;

  vertical-align: baseline;
  text-align: center;

  border-top: 1px solid @gray-back;

  .font-param (17px, 24px, "Open Sans Bold", @lighter-font);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-user-menu__item-icon {
  margin-top: 5px;
  margin-left: -75px;

  fill: #d3d2d2;
}

.page-user-menu__item:hover .page-user-menu__item-icon,
.page-user-menu__item:focus .page-user-menu__item-icon {
  fill: @aqua-dark;
}

.page-user-menu__item-text {
  margin-left: 26px;

  .font-param (17px, 24px, "Open Sans Bold", @lighter-font);
}

.page-user-menu__item:nth-child(2) .page-user-menu__item-icon {
  margin-left: -32px;
}

@media (min-width: @tablet-width) {
  .page-user-menu {
    flex-grow: 20;
    flex-direction: row;
    width: auto;
  }

  .page-user-menu__item {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 30px;

    white-space: nowrap;

    .font-param (17px, 24px, "Open Sans Bold", @lighter-font);
  }

  .page-user-menu__item-icon {
    margin: 0;
  }

  .page-user-menu__item:first-child {
    width: 102px;

    border-right: 1px solid @border-gray;
    border-left: 1px solid @border-gray;
  }

  .page-user-menu__item:first-child .page-user-menu__item-icon {
    margin-top: 5px;
  }

  .page-user-menu__item:first-child .page-user-menu__item-text {
    display: none;
  }

  .page-user-menu__item:nth-child(2) .page-user-menu__item-icon {
    margin-top: 5px;
    margin-left: -16px;
  }

  .page-user-menu__item:nth-child(2) .page-user-menu__item-text {
    padding-left: 2px;

    .font-param (17px, 24px, "Open Sans Bold", @lighter-font);
  }
}

@media (min-width: @desktop-width) {
  .page-user-menu {
    order: 2;
  }

  .page-user-menu__item:first-child {
    width: 127px;
    margin-left: 100px;
  }
}
