.page-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 17px;

  .reset-list();
}

.page-menu__item {
  text-align: center;

  border-top: 1px solid @gray-back;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-menu__item a {
  display: inline-block;
  width: 100%;
  padding-top: 26px;
  padding-right: 18px;
  padding-bottom: 29px;

  vertical-align: baseline;

  .font-param (17px, 24px, "Open Sans Bold", @lighter-font);
}

@media (min-width: @tablet-width) {
  .page-menu {
    flex-direction: row;
    order: 5;
    width: 50%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .page-menu__item {
    border-top: none;
  }

  .page-menu__item a {
    padding-top: 22px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 48px;

    .font-param (15px, 24px, "Open Sans Bold", @lighter-font);
  }

  .page-menu__item:nth-child(2) a {
    padding-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-menu {
    order: 0;
    width: auto;
  }

  .page-menu__item:first-child {
    border-right: 1px solid @border-gray;
  }

  .page-menu__item a {
    padding-top: 26px;
    padding-right: 37px;

    .font-param (17px, 30px, "Open Sans Bold", @lighter-font);
  }
}
