.page-navigation {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.page-navigation__delivery {
  display: none;
}

.page-navigation__new {
  display: none;
}

.page-navigation__sale {
  display: none;
}

.page-navigation__button {
  position: absolute;
  top: 30px;
  right: 30px;
}


@media (max-width: 767px) {
  .page-navigation--close .page-user-menu,
  .page-navigation--close .page-menu {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-navigation {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-navigation__delivery {
    display: block;
    order: 7;
    margin: 0;
    margin-left: auto;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 103px;

    .font-param (15px, 24px, "Open Sans", @lighter-font);
  }

  .page-navigation__new {
    display: none;
  }

  .page-navigation__sale {
    display: none;
  }

  .page-navigation--close .page-user-menu,
  .page-navigation--close .page-menu {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .page-navigation__new {
    display: block;
    order: 5;
    margin-top: 15px;
    padding-left: 51px;

    .font-param (15px, 24px, "Open Sans Bold", @dark-font);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-navigation__sale {
    display: block;
    order: 5;
    margin-top: 15px;
    padding-left: 60px;

    .font-param (15px, 24px, "Open Sans Bold", @dark-font);

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-navigation--close .page-user-menu,
  .page-navigation--close .page-menu {
    display: flex;
  }

  .page-navigation__delivery {
    order: 7;
    margin-right: 0;
    margin-left: auto;
    padding-right: 50px;

    text-align: right;
  }
}
