.params {
  margin-top: 19px;
  margin-left: -2px;

  border-collapse: collapse;

  .font-param(15px, 24px, "Open Sans", @lighter-font);
}

.params__title {
  width: 80px;
  padding-bottom: 4px;

  outline: none;
}

.params__value {
  width: 180px;
  padding-bottom: 4px;
  padding-left: 20px;

  outline: none;
}

.params__row {
  height: 39px;

  border-bottom: 1px solid @border-gray;
  outline: none;
}

@media (min-width: @tablet-width) {
  .params {
    width: 315px;
    margin-top: 37px;

    .font-param(15px, 20px, "Open Sans", @lighter-font);
  }

  .params__title {
    padding: 0;
    padding-top: 3px;
    padding-left: 22px;
  }

  .params__value {
    padding: 0;
    padding-top: 3px;
    padding-left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .params {
    margin-top: 49px;
    margin-left: 173px;
  }

  .params__value {
    padding: 0;
    padding-top: 3px;
    padding-left: 20px;
  }
}
