.params {
  .font-param(15px, 24px, "Open Sans", @lighter-font);
  margin-top: 21px;
  margin-left: -2px;
  border-collapse: collapse;
}

.params__title {
  width: 80px;
  outline: none;
  padding-bottom: 5px;
}

.params__value {
  width: 180px;
  outline: none;
  padding-bottom: 5px;
  padding-left: 19px;
}

.params__row {
  height: 40px;
  border-bottom: 1px solid @lighter-font;
  outline: none;
}
