.personal-container {
  height: 430px;
}

@media (min-width: @tablet-width) {
  .personal-container {
    height: 305px;
  }
}

@media (min-width: @desktop-width) {
  .personal-container {
    height: 305px;
  }
}
