.process {
  min-height: 503px;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid @border-gray;
}

.process:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.process:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.process__header {
  margin: 0;
  height: 92px;
  position: relative;
}

.process__title {
  margin: 0;
  .font-param (17px, 24px, "Open Sans Bold", @dark-font);
  padding-left: 89px;
  padding-right: 41px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.process__title::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 35px;
  top: 26px;
  left: 32px;
}

.process__video {
  min-height: 150px;
  background-color: @aquamarine;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 260px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.process__order {
  height: 256px;
  padding-top: 24px;
  padding-left: 28px;
  padding-right: 35px;
}

.process__description {
  margin: 0;
  .font-param (13px, 24px, "Open Sans", @lighter-font);
  margin-bottom: 24px;
  padding-left: 5px;
  padding-top: 4px;
}

.process__button {
  width: 192px;
  white-space: nowrap;
  height: 52px;
  margin-left: 5px;
  padding: 12px 25px;
  padding-top: 16px;
}

.process__play {
  width: 115px;
  height: 82px;
  margin-top: 36px;
  margin-left: 71px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: @tablet-width) {
  .process {
    min-height: 505px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
  }

  .process__header {
    height: 90px;
    order: 2;
    padding-top: 15px;
    padding-left: 17px;
  }

  .process__title {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 88px;
    .font-param (20px, 24px, "Open Sans Bold", @dark-font);
  }

  .process__title::before {
    top: 33px;
    left: 40px;
  }

  .process__video {
    padding: 0;
    min-height: 455px;
    margin: 0;
    order: 1;
    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 668px 455px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .process__play {
    margin-top: 187px;
    margin-left: 275px;
  }

  .process__order {
    height: 198px;
    margin: 0;
    padding: 0;
    order: 3;
  }

  .process__description {
    .font-param (15px, 30px, "Open Sans", @lighter-font);
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 40px;
    margin-bottom: 35px;
  }

  .process__button {
    width: 584px;
    padding-top: 17px;
    margin-left: 40px;
    height: 52px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .process {
    height: 470px;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-bottom: 56px;
  }

  .process__header {
    width: 368px;
    height: 155px;
    order: 2;
  }

  .process__title {
    padding-top: 82px;
    padding-left: 60px;
    padding-right: 70px;
  }

  .process__title::before {
    top: 44px;
    left: 80px;
  }

  .process__video {
    width: 682px;
    height: 455px;
    order: 1;
    background-image: url("../img/video-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 682px 455px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .process__description {
    padding-top: 25px;
    padding-left: 77px;
    padding-right: 0;
    margin: 0;
  }

  .process__order {
    width: 368px;
    height: 300px;
    order: 3;
  }

  .process__button {
    width: 231px;
    margin: 0;
    margin-top: 43px;
    margin-left: 77px;
  }

  .process__play {
    margin-top: 187px;
    margin-left: 283px;
  }
}
