.process {
  min-height: 503px;
  outline: 2px solid green;
  margin-bottom: 58px;
}

.process .process__title {
  .font-param (17px, 24px, bold, @dark-font);
}

.process .process__play {
  height: 260px;
  background-color: @aquamarine;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 260px 150px;
  background-position: center center;
}

.process .process__description {
  .font-param (13px, 24px, normal, @lighter-font);
}
/*
.process .process__button {

}*/
