.promo {
  min-height: 822px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.promo__title {
  .font-param(25px, 30px, "Open Sans Bold", @dark-font);
  margin: 0;
  padding-top: 26px;
}

.promo__week {
  .font-param(17px, 20px, "Open Sans Bold", @aqua-dark);
  margin: 0;
  text-transform: uppercase;
  padding-top: 4px;
}

.promo__description {
  .font-param(15px, 24px, "Open Sans", @lighter-font);
  margin: 0;
  padding-top: 24px;
}

.promo__photo {
  margin-top: 29px;
}

.promo__price {
  .font-param(17px, 24px, "Open Sans Bold", @lighter-font);
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.promo__button {
  width: 259px;
  margin-top: 28px;
}

.promo__head {
  display: flex;
  flex-direction: column;
}

.promo__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .promo {
    min-height: 610px;
  }

  .promo__head {
    flex-direction: row;
  }

  .promo__description {
    width: 320px;
    .font-param(17px, 30px, "Open Sans", @lighter-font);
    padding-top: 50px;
    padding-left: 20px;
  }

  .promo__content {
    height: 463px;
    flex-wrap: wrap;
  }

  .promo__photo {
    order: 5;
    margin-top: 60px;
    margin-left: 16px;

    & img {
      width: 333px;
      height: 404px;
    }
  }

  .promo__title {
    .font-param(43px, 50px, "Open Sans Bold", @dark-font);
    padding-top: 40px;
    padding-left: 16px;
  }

  .promo__week {
    margin: 0;
    padding: 0;
    width: 80px;
    margin-left: 142px;
    padding-top: 52px;
    text-align: center;
    .font-param(17px, 17px, "Open Sans Bold", @aqua-dark);
  }

  .promo__price {
    margin: 0;
    padding: 0;
    width: 320px;
    margin-top: 56px;
    padding-left: 8px;
    .font-param(20px, 24px, "Open Sans Bold", @lighter-font);
  }

  .promo__button {
    width: 292px;
    margin-top: 36px;
    margin-left: 19px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    min-height: 780px;
  }

  .promo__content {
    height: 643px;
    flex-wrap: wrap;
  }

  .promo__head {
    flex-direction: row;
    padding-top: 80px;
    margin-left: 0;
    padding-left: 0;
    position: relative;
  }

  .promo__week {
    order: 1;
    margin-left: 62px;
  }

  .promo__title {
    position: absolute;
    order: 5;
    .font-param(53px, 57px, "Open Sans Bold", @dark-font);
    z-index: 10;
    top: 78px;
    left: 173px;
  }

  .promo__photo {
    order: 5;
    margin-top: -100px;
    margin-left: 28px;

    & img {
      width: 525px;
      height: 643px;
    }
  }

  .promo__description {
    margin-top: 8px;
    margin-left: 175px;
  }

  .promo__price {
    margin: 0;
    padding: 0;
    margin-top: 115px;
    margin-left: 180px;
  }

  .promo__button {
    width: 292px;
    margin-top: 35px;
    margin-left: 195px;
  }
}
