.promo {
  min-height: 822px;
  outline: 2px solid green;
  margin-left: 30px;
  margin-right: 30px;
}

.promo__title {
  .font-param(25px, 30px, "Open Sans Bold", @dark-font);
}

.promo__week {
  .font-param(17px, 20px, "Open Sans Bold", @aqua-dark);
}

.promo__description {
  .font-param(15px, 24px, "Open Sans", @lighter-font);
}
/*
.promo__photo {

}
*/
.promo__price {
  .font-param(17px, 24px, "Open Sans Bold", @lighter-font);
}
/*
.promo__button {

}
*/
