.send-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
  margin-top: 0;
}

.send-block__required {
  .font-param(14px, 16px, "Open Sans", @lighter-font);
  padding-top: 0;
}

.send-block__btn {
  margin-top: 19px;
  width: 260px;
  height: 52px;
}

@media (min-width: @tablet-width) {
  .send-block {
    height: 139px;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 45px;
    margin: 0;
    padding-top: 0;
  }

  .send-block__required {
    order: 5;
    margin-left: 100px;
    .font-param(17px, 30px, "Open Sans", @lighter-font);
    padding-top: 39px;
    padding-left: 37px;
  }

  .send-block__btn {
    margin-left: 50px;
    width: 229px;
    margin-top: 48px;
    .font-param(17px, 16px, "Open Sans Bold", @dark-font);
  }
}

@media (min-width: @desktop-width) {
  .send-block {
    height: 138px;
    flex-direction: row;
  }

  .send-block__required {
    order: 5;
    margin-left: 132px;
  }

  .send-block__btn {
    margin-left: 226px;
    width: 229px;
    margin-top: 49px;
    .font-param(17px, 16px, "Open Sans Bold", @dark-font);
  }
}
