.social-list {
  .reset-list();
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social-list__link {
  display: block;
  width: 23px;
  height: 28px;
}

.social-list__item {
  margin: 0;
  display: block;
  width: 23px;
  height: 28px;
  margin-right: 42px;

  &:first-child {
    .social-list__link {
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-insta.svg");
    }
  }

  &:nth-child(2) {
    margin-right: 36px;
    margin-left: -6px;

    .social-list__link {
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-fb.svg");
    }
  }

  &:last-child {
    margin-right: 0;

    .social-list__link {
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-twitter.svg");
    }
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    padding: 0;
    width: 145px;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    padding: 0;
    width: 145px;
  }
}
