.social {
  height: 80px;
  margin: 0 auto;
  padding-top: 28px;
}

@media (min-width: @tablet-width) {
  .social {
    height: auto;
    padding: 0;
    margin-top: 5px;
    margin-left: 159px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    height: auto;
    padding: 0;
    margin-top: 5px;
    margin-left: 350px;
  }
}
