.stabber {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .stabber {
    margin: 0 auto;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .stabber {
    margin: 0 auto;
    width: 1050px;
  }
}
