.type-container {
  height: 175px;
  display: flex;
  flex-direction: column;
}

.type-container__options {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .type-container {
    height: 193px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .type-container {
    height: 202px;
    flex-direction: column;
  }
}
