.type-container {
  height: 175px;
  display: flex;
  flex-direction: column;
}

.type-container__legend {
  padding-top: 5px;
}

.type-container__options {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  padding-left: 62px;
}

.type-container__input {
  display: none;
}

.type-container__label {
  margin-bottom: 25px;
  position: relative;
}

.type-container__input + .type-container__label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -63px;

  display: inline-block;
  width: 41px;
  height: 41px;
  border: 2px solid @dark-font;
  border-radius: 50%;
  vertical-align: baseline;
}

.type-container__input:checked + .type-container__label::after {
  content: "";
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  top: 2px;
  left: -50px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: @aquamarine;
}

@media (min-width: @tablet-width) {
  .type-container {
    height: 193px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .type-container {
    height: 202px;
    flex-direction: column;
  }
}
