.type-container {
  display: flex;
  flex-direction: column;
  height: 175px;
}

.type-container__legend {
  padding-top: 22px;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 63px;
    width: 197px;
    height: 2px;
    background-color: @aqua-dark;
  }
}

.type-container__options {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 62px;
}

.type-container__input {
  display: none;
}


.type-container__input + .type-container__label::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -63px;

  display: inline-block;
  width: 41px;
  height: 41px;

  vertical-align: baseline;

  border: 2px solid @dark-font;
  border-radius: 50%;
}

.type-container__input:checked + .type-container__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -50px;

  display: inline-block;
  width: 16px;
  height: 16px;

  vertical-align: baseline;

  background-color: @aquamarine;
  border-radius: 50%;
}

.type-container__input:focus + .type-container__label::before,
.type-container__input:hover + .type-container__label::before {
  border-color: @aquamarine;
}

.type-container__input:active + .type-container__label::before {
  border-color: #c7c7c7;
}

.type-container__label {
  position: relative;

  margin-bottom: 25px;

  &:hover::before {
    border-color: @aquamarine;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

@media (min-width: @tablet-width) {
  .type-container {
    flex-direction: row;
    height: 192px;
    margin-left: 50px;
  }

  .type-container__legend {
    padding-top: 73px;
  }

  .type-container__options {
    width: 100%;
    padding-left: 180px;
  }

  .type-container__label {
    margin-bottom: 0;
    padding-top: 38px;
    padding-bottom: 21px;
    padding-left: 32px;
  }

  .type-container__input + .type-container__label::before {
    content: "";
    position: absolute;
    top: 22px;
    left: -50px;

    display: inline-block;
    width: 53px;
    height: 53px;

    vertical-align: baseline;

    border: 2px solid @dark-font;
    border-radius: 50%;
  }

  .type-container__input:checked + .type-container__label::after {
    content: "";
    position: absolute;
    top: 38px;
    left: -33px;

    display: inline-block;
    width: 20px;
    height: 20px;

    vertical-align: baseline;

    background-color: @aquamarine;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .type-container {
    flex-direction: rpw;
    height: 190px;
  }

  .type-container__legend {
    padding-top: 74px;
    padding-left: 64px;
  }

  .type-container__options {
    width: 100%;
    padding-top: 0;
    padding-left: 124px;
  }
}
