.write-us {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 40px;
  padding-bottom: 39px;
}

.write-us__button {
  width: 260px;
  padding-top: 13px;
  .font-param(18px, 20px, "Open Sans Bold", @lighter-font);
}

@media (min-width: @desktop-width) {
  .write-us {
    order: 2;
  }
}
