.font-param (@size, @height, @family, @color) {
  font-size: @size;
  line-height: @height;
  font-family: @family;
  color: @color;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
27/30
17/16
13/24
17/18
14/16
19/18
17/24
13/30
15/24
19/24
25/30
17/20
15/30
17/30
18/30*/

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
