@aquamarine: #62d1ba;
@gray-back: #f1f1f1;
@dark-font: #000000;
@lighter-font: #444444;
@lightest-font: gray; /*но это не так - сюда должно пойти значение с прозрачностью 70%*/
@white-font: #ffffff;
@aqua-dark: #63d1ba;
@aqua-darkest: #56c3b2;
@light-gray: rgba(68, 68, 68, 0.3);
@phone-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@white-font-30: rgba(255, 255, 255, 0.3);
@dark-font-30: rgba(0, 0, 0, 0.3);
@dark-font-60: rgba(0, 0, 0, 0.6);
@mail-font: #46c1ae;
@mail-font-30: rgba(70, 193, 174, 0.3);
@mail-under-light: #ecf9f7;
@border-gray: #ececec;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
